<div class="d-flex w-100 w-xl-auto overflow-auto overflow-xl-visible scrollbar-hidden border-top border-top-xl-0 order-1 order-xl-0 pt-2 pt-xl-0 mt-2 mt-xl-0">
	<ul class="nav gap-1 justify-content-center flex-nowrap flex-xl-wrap mx-auto">
		<li class="nav-item">
			<a asp-action="index" asp-controller="Home" asp-area="" class="navbar-nav-link rounded">
				<i class="ph-house me-2"></i>
				Home
			</a>
		</li>

		<li class="nav-item">
			<a asp-action="index" asp-controller="Centers" asp-area="" class="navbar-nav-link rounded">
				<i class="icon-office me-2"></i>
				Centers
			</a>
		</li>
	</ul>
</div>
