@{
    if (TempData["Error"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show">
            <span class="fw-semibold mr-1">Error</span>
            @TempData["Error"]
            <button type="button" class="btn-close btn-close-danger" data-bs-dismiss="alert"></button>
        </div>
    }
    if (TempData["Info"] != null)
    {
        <div class="alert alert-secondary alert-dismissible fade show">
            <span class="fw-semibold mr-1">Info</span>
            @TempData["Info"]
            <button type="button" class="btn-close btn-close-danger" data-bs-dismiss="alert"></button>
        </div>
    }
    if (TempData["Warning"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show">
            <span class="fw-semibold mr-1">Warning</span>
            @TempData["Warning"]
            <button type="button" class="btn-close btn-close-danger" data-bs-dismiss="alert"></button>
        </div>
    }
    if (TempData["Success"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show">
            <span class="fw-semibold mr-1">Success</span>
            @TempData["Success"]
            <button type="button" class="btn-close btn-close-danger" data-bs-dismiss="alert"></button>
        </div>
    }
}