@using System.Security.Claims;
@using EdrIMS.Helpers;
@using EdrIMS.Controllers;
@using EdrIMS.Models;
@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor Accessor
<div class="sidebar-content">

	<!-- Sidebar header -->
	<div class="sidebar-section bg-secondary">
		<div class="sidebar-section-body d-flex justify-content-center pt-2 pb-2 text-white">
			@if (User.Identity.IsAuthenticated)
			{
				var uFName = User.FindFirst(ClaimTypes.GivenName)?.Value +" "+User.FindFirst(ClaimTypes.Surname)?.Value;
				<p class="sidebar-resize-hide flex-grow-1 my-auto">Welcome back <br /><strong>@uFName</strong></p>
				
			}
			<div>
				<button type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-control sidebar-main-resize d-none d-lg-inline-flex">
					<i class="ph-arrows-left-right"></i>
				</button>

				<button type="button" class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-mobile-main-toggle d-lg-none">
					<i class="ph-x"></i>
				</button>
			</div>
		</div>
	</div>
	<!-- /sidebar header -->
	<!-- Main navigation -->
	<div class="sidebar-section">
		<ul class="nav nav-sidebar" data-nav-type="accordion">

			<!-- Main -->
			<partial name="Menus/_user_menus" />
			<!-- /page kits -->

		</ul>
	</div>
	<!-- /main navigation -->
	
</div>

<div class="d-flex border-top py-2 px-3">
	@if (User.Identity.IsAuthenticated)
	{
		@await Component.InvokeAsync("ActiveEventCount")
		@*try
		{
			@await Component.InvokeAsync("ActiveEventCount")

		}
		catch (Exception)
		{
			throw;
			@*<script type="text/javascript">
				window.location.href = '@Url.Action("AccessDenied", "Account")';
			</script>

		}*@
	}
	<a href="#" class="btn btn-light btn-icon flex-fill rounded-pill ms-2">
		<i class="ph-envelope-open"></i>
	</a>
	 @if (User.Identity.IsAuthenticated && (User.IsInRole("Super_Administrator") || User.IsInRole("Tsehafi")))
	{
		@await Component.InvokeAsync("InactiveUsersCount")
	}

	<a href="#" class="btn btn-light btn-icon flex-fill rounded-pill ms-2">
		<i class="ph-share-network"></i>
	</a>
</div>
