@model EdrIMS.Models.Member

@{
    ViewData["Title"] = "Edit - Member";
}

<div class="card border-start border-start-width-2 border-start-secondary border-end border-end-width-1 border-end-secondary rounded-0">
    <div class="card-header d-flex align-items-center bg-light py-0">
        <h6 class="py-3 mb-0">@ViewData["Title"]</h6>
        <div class="ms-auto my-auto">
        </div>
    </div>
    <form asp-action="Edit">
        <div class="card-body">
<div class="row">
    <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UsersId" class="form-label"></label>
                <select asp-for="UsersId" class="form-control select" asp-items="ViewBag.UsersId"><option value="">---Select---</option></select>
                <span asp-validation-for="UsersId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileNumber" class="form-label"></label>
                <input asp-for="FileNumber" class="form-control" autocomplete="off"/>
                <span asp-validation-for="FileNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="form-label"></label>
                <input asp-for="FirstName" class="form-control" autocomplete="off"/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="form-label"></label>
                <input asp-for="MiddleName" class="form-control" autocomplete="off"/>
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="form-label"></label>
                <input asp-for="LastName" class="form-control" autocomplete="off"/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderId" class="form-label"></label>
                <select asp-for="GenderId" class="form-control select" asp-items="ViewBag.GenderId"><option value="">---Select---</option></select>
                <span asp-validation-for="GenderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthPlace" class="form-label"></label>
                <input asp-for="BirthPlace" class="form-control" autocomplete="off"/>
                <span asp-validation-for="BirthPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="form-label"></label>
                <input asp-for="DateOfBirth" class="form-control" autocomplete="off"/>
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityId" class="form-label"></label>
                <select asp-for="CityId" class="form-control select" asp-items="ViewBag.CityId"><option value="">---Select---</option></select>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubCityId" class="form-label"></label>
                <select asp-for="SubCityId" class="form-control select" asp-items="ViewBag.SubCityId"><option value="">---Select---</option></select>
                <span asp-validation-for="SubCityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KebeleId" class="form-label"></label>
                <select asp-for="KebeleId" class="form-control select" asp-items="ViewBag.KebeleId"><option value="">---Select---</option></select>
                <span asp-validation-for="KebeleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="form-label"></label>
                <input asp-for="PhoneNumber" class="form-control" autocomplete="off"/>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoUrl" class="form-label"></label>
                <input asp-for="PhotoUrl" class="form-control" autocomplete="off"/>
                <span asp-validation-for="PhotoUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfRegistration" class="form-label"></label>
                <input asp-for="DateOfRegistration" class="form-control" autocomplete="off"/>
                <span asp-validation-for="DateOfRegistration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegisteredBy" class="form-label"></label>
                <select asp-for="RegisteredBy" class="form-control select" asp-items="ViewBag.RegisteredBy"><option value="">---Select---</option></select>
                <span asp-validation-for="RegisteredBy" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAlive" /> @Html.DisplayNameFor(model => model.IsAlive)
                </label>
            </div>
            <div class="mb-3 form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
          </div>
            </div>
        </div>
        <div class="card-footer pt-2 pb-2">
            <div class="hstack gap-2 mt-3 mt-sm-0">
                <button type="submit" value="Save" class="btn btn-success w-100 w-sm-auto">
                    <i class="ph-floppy-disk me-2"></i>
                    Save
                </button>
                <a asp-action="Index" class="btn btn-light w-100 w-sm-auto">
                    <i class="ph-arrow-u-down-left me-2"></i>
                    Back to List
                </a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/vendor/forms/selects/select2.min.js"></script>
    <script src="~/js/form_select2.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
