<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewData["Title"] | EdrIMS - Ethiopia</title>

<link href="~/fonts/inter/inter.css" rel="stylesheet">
<link href="~/icons/phosphor/styles.min.css" rel="stylesheet">
<link href="~/icons/icomoon/styles.min.css" rel="stylesheet">
<link href="~/css/all.min.css" id="stylesheet" rel="stylesheet">
