@model EdrIMS.Models.DeceasedMember

@{
    ViewData["Title"] = "Create - DeceasedMember";
}

<div class="card border-start border-start-width-2 border-start-secondary border-end border-end-width-1 border-end-secondary rounded-0">
    <div class="card-header d-flex align-items-center bg-light py-0">
        <h6 class="py-3 mb-0">@ViewData["Title"]</h6>
        <div class="ms-auto my-auto">
        </div>
    </div>
     <form asp-action="Create">
        <div class="card-body">
<div class="row">
    <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="MemberId" class="form-label"></label>
                <select asp-for="MemberId" class ="form-control select" asp-items="ViewBag.MemberId"><option value="">---Select---</option></select>
            </div>
            <div class="mb-3">
                <label asp-for="Died" class="form-label"></label>
                <input asp-for="Died" class="form-control" autocomplete="off" />
                <span asp-validation-for="Died" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Buried" class="form-label"></label>
                <input asp-for="Buried" class="form-control" autocomplete="off" />
                <span asp-validation-for="Buried" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CauseOfDeath" class="form-label"></label>
                <input asp-for="CauseOfDeath" class="form-control" autocomplete="off" />
                <span asp-validation-for="CauseOfDeath" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="RestingPlace" class="form-label"></label>
                <input asp-for="RestingPlace" class="form-control" autocomplete="off" />
                <span asp-validation-for="RestingPlace" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="LegalDocuments" class="form-label"></label>
                <input asp-for="LegalDocuments" class="form-control" autocomplete="off" />
                <span asp-validation-for="LegalDocuments" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
 </div>
            </div>
            </div>
        <div class="card-footer pt-2 pb-2">
            <div class="hstack gap-2 mt-3 mt-sm-0">
                <button type="submit" value="Create" class="btn btn-success w-100 w-sm-auto">
                    <i class="ph-floppy-disk me-2"></i>
                    Save
                </button>
                <a asp-action="Index" class="btn btn-light w-100 w-sm-auto">
                    <i class="ph-arrow-u-down-left me-2"></i>
                    Back to List
                </a>
            </div>
        </div>
         <input type="hidden" asp-for="IsActive" value="True" />
    </form>
</div>


@section Scripts {
    <script src="~/js/vendor/forms/selects/select2.min.js"></script>
    <script src="~/js/form_select2.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
